CACHE_DIR=".cache"
VID_DIR=""
ROBOFLOW_API_KEY=""
ROBOFLOW_API_URL="https://serverless.roboflow.com"
HF_TOKEN=""
ANSWER_PATH=".."
LANGSMITH_TRACING="false"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
OPENAI_API_KEY=""
LANGSMITH_PROJECT="ReAct"
LANGFUSE_SECRET_KEY = ""
LANGFUSE_PUBLIC_KEY = ""
LANGFUSE_BASE_URL = "https://us.cloud.langfuse.com"


